@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
    --color-primary: #13ec5b;
    --color-background-light: #f6f8f6;
    --color-background-dark: #102216;
    --color-surface-dark: #112217;
    --color-input-bg: #193322;
    --color-input-border: #326744;
    --color-input-placeholder: #92c9a4;

    --font-display: "Lexend", sans-serif;
    --font-body: "Noto Sans", sans-serif;
}

/* Custom scrollbar for better aesthetic in dark mode */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #102216;
}
::-webkit-scrollbar-thumb {
    background: #326744;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #13ec5b;
}

body {
    font-family: var(--font-display);
}